h1,th,.footerMessage{
  color:rgb(24,54,78);
  text-align :center;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}
th,td{
  border: 1px solid black;
  padding: 5px;
  text-align : center;
}
th{
  background-color: lightgray;
}
@media print {
  .displayComputer{
    display: none;
  }
}
@media (min-width:700px) {
    #homeImage{
      width: 50%;
    }
}
@media (max-width:699px) {
    #homeImage{
      width: 100%;
    }
    table{
      width: 100%;
    }
}

.container{
  display: flex;
  flex-wrap: wrap;
}
.container > div{
  background-color: rgb(24,54,78);
  color: white;
  font-size: 12px;
  margin: 20px;
  padding: 20px;
  width: 200px;
}
