h1,th,.footerMessage{
  color:rgb(24,54,78);
  text-align :center;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}
th,td{
  border: 1px solid black;
  padding: 5px;
  text-align : center;
}
th{
  background-color: lightgray;
}
